@layer theme, base, mui, components, utilities;
@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --color-primary-bg: #252f3a; /* Gunmetal - Main background */
  --color-secondary-bg: #192025; /* Eerie black - Cards, modals */
  --color-primary-text: #f4eded; /* Snow - Main text/headings */
  --color-secondary-text: #848488; /* Gray - Secondary text/descriptions */
  --color-button-danger: #ed4f4f; /* Imperial red - Error/destructive actions */
  --color-button-info: #3c59ff; /* RISD Blue - Primary buttons/CTAs */
  --color-button-info-hover: #2d47e6; /* Darker RISD Blue - Button hover states */
  --color-button-success: #45b352; /* Dark pastel green - Success actions */
  --color-link: #5d72e9; /* Neon blue - Primary links */
  --color-link-hover: #3355ff; /* RISD Blue - Link hover states */
}

@layer base {
  * {
    outline-color: rgb(60 89 255 / 0.3); /* Button info color with opacity */
  }
}
